<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Result.app</title>
    {% block metas %} {% endblock %}
    <link href="{{ url_for('static', filename='img/faviconR.png') }}" rel="shortcut icon">
    <link href="{{ url_for('static', filename='img/faviconR.png') }}" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/copia.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/poll.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css %} {% endblock %}
    <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script> </head> <body>
        {% if index %}
        <div class="notification-bar">
                <div class="container-2 w-container">
                        <div class="text-block-13">{{idioma.notificationBar}}</div>
                        <div class="text-block-14">#</div>
                        <div id="appB">
                        <input type="text" class="div-block-13" v-model="codigoBuscador" @keyup.enter="buscarEncuesta" />
                        </div>
                       </div>
        </div>
        {% endif %}
    <header class="nav-bar">
        <div class="container" style="max-width: 940px;">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand mr-2 is-flex is-align-items-center">
                   <a href="/" class=" is-flex is-align-items-center"><div class="logotipo"><div class="logotipo-fill"></div></div>
                    <div class="company">result.app</div></a>
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                          <button class="button buttonLang" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span>
                                {% if idioma.idioma == 'en' %}
                                    English
                                {% endif %}
                                {% if idioma.idioma == 'es' %}
                                    Español
                                {% endif %}
                            </span>
                            <span class="icon is-small">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                              <div id="appLang">
                                <a  class="dropdown-item" @click="cambiarIdioma('{{idioma.idioma}}')" >
                                    {% if idioma.idioma == 'en' %}
                                    Español
                                    {% endif %}
                                    {% if idioma.idioma == 'es' %}
                                    English
                                    {% endif %}
                                </a>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

                </div>

                <div class="navbar-menu is-hidden-desktop menuPhone " :class="NavbarMenuisOpen">
                    <div class="navbar-start">
                        <div class="my-4">
                            <a class="navbar-item title is-5 my-2" href="/">{{idioma.productMenu|upper }}</a>
                        </div>
                        <div class="my-4">
                            <a class="navbar-item title is-5 my-2" href="/">{{idioma.priceMenu|upper }}</a>
                        </div>

                      {% if userR == 1 %}
                            <div class="navbar-item is-hidden-desktop">
                                <a href="/dashboard" class="button is-light is-fullwidth title is-5">{{idioma.dashboardTitle|upper }}</a>
                                <a href="/logout" class="button is-light is-fullwidth title is-5">{{idioma.salirTitle|upper }}</a>
                            </div>
                       {% else %}
                            <div class="navbar-item is-hidden-desktop">
                            <a href="/login" class="button is-light is-fullwidth title is-5">{{idioma.loginMenu|upper }}</a>
                            <a href="/signup" class="button is-light is-fullwidth title is-5">{{idioma.signupMenu|upper }}</a>
                            </div>
                      {% endif %}

                    </div>
                </div>

                <div class="navbar-menu">


                    <div class="navbar-end">
                        <a class="navbar-item">
                            {{idioma.productMenu|upper }}
                        </a>
                        <a class="navbar-item">
                            {{idioma.priceMenu|upper }}
                        </a>
                        {% if userR == 1 %}
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-info" href="/dashboard" style="font-size: 14px; background-color:#59b1ff">
                                        {{idioma.dashboardTitle|upper }}
                                    </a>
                                    <a class="button is-info" href="/logout" 
                                    style="font-size: 14px; background-color:#59b1ff">
                                    {{idioma.salirTitle|upper }}
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-info" href="/login"
                                     style="font-size: 14px; background-color:#59b1ff">
                                     {{idioma.loginMenu|upper }}
                                    </a>
                                    <a class="button is-info" href="signup"
                                     style="font-size: 14px; background-color:#59b1ff">
                                     {{idioma.signupMenu|upper }}
                                    </a>
                                    
                                </div>
                            </div>
                        {% endif %}
                        



                    </div>
                </div>
            </nav>

        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="section-footer">
        <div class="w-container isFlexCenter">
            <div class="columns">
                <div class="column">
                   
                    <div class="div-block-16">
                        <a href="/" class=" is-flex is-align-items-center"><div class="logotipo-dark">
                            <div class="logotipo-fill"></div></div>
                            <div class="company">result.app</div></a>
                    </div>
                   
                    <div class="div-block-15"><a href="#" class="social-icon w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d43d2aa5c12_14-social-email.png" width="20" alt=""></a><a href="#" target="_blank" class="social-icon w-inline-block"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d0b0faa5c13_14-social-facebook.png" width="20" alt=""></a><a href="#" target="_blank" class="social-icon w-inline-block"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296de436aa5c15_14-social-twitter.png" width="20" alt=""></a></div>
                  
                </div>
                <div class="column" >
                    <h3 class="heading-2">{{idioma.footer1Head}}</h3>
                    <a href="#" class="link-3">{{idioma.footer1Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer2Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer3Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer4Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer5Link}}</a>
                </div>

                <div class="column">
                    <h3 class="heading-2">{{idioma.footer2Head}}</h3>
                    <a href="#" class="link-3">{{idioma.footer6Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer7Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer8Link}}</a>
                    <a href="#" class="link-3">{{idioma.footer9Link}}</a>
                </div>
              
              </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweet2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios.js') }}"></script>
    <script src="{{ url_for('static', filename='js/overlay.js') }}"></script>

    <script>
        var narBarPhone = false
        $(".navbar-burger ").click(function () {
            console.log(narBarPhone)
            if (narBarPhone) {
                console.log("ocultar nan")
                narBarPhone = false
                $(".navbar-burger ").removeClass("is-active");
                $(".menuPhone").hide();
            } else {
                console.log("mostrar nan")
                narBarPhone = true
                $(".navbar-burger ").addClass("is-active");
                $(".menuPhone").show();
            }

        });
    </script>
    <script src="{{ url_for('static', filename='js/idioma.js') }}"></script>
    {% if index %}
    <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>
    {% endif %}
    {% block vuejs %}

    {% endblock %}
    </body>

</html>