{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block metas %}
<meta name="description"
content="Crea encuestas rápidas en segundos no necesita registro">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@site">
<meta name="twitter:creator" content="@fastpoll">
<meta property="og:url" content="{{linkSite}}">
<meta property="og:title" content="Eventist - Encuestas Rápidas ">
<meta property="og:description"
content="Crea encuestas rápidas en segundos no necesita registro">
<meta property="og:image" content="{{ url_for('static', filename='img/faviconwhite.png') }}">
<meta property="og:image:alt" content="Eventist banner">
<meta property="og:site_name" content="Eventist">
<link rel="canonical" href="{{linkSite}}">
{% endblock %}
{% block content %}
<section class="section-hero">
    <div class="container">
        <h1 class="hero-heading">{{idioma.headlineHero}}<br>{{idioma.headlineHero2}}</h1>
        <p class="hero-subhead">{{idioma.subheadHero}}</p>

        <div class="columns " style="    margin-top: 60px;">
            <div class="column is-3">
                <a href="/crear">
                    <div class="crear-producto">
                        <div class="div-block-2">
                            <div class="text-block"><strong class="bold-text">{{idioma.pollHeadBlock}}<br></strong></div>
                            <div class="text-block-2">{{idioma.pollSubBlock}}</div>
                        </div>
                        <div class="tag is-danger">
                            <div class="text-block-3">{{idioma.tagGratis}}</div>
                        </div>
                    </div>
                </a>
                
        </div>

            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">{{idioma.qaHeadBlock}}<br></strong></div>
                        <div class="text-block-2">{{idioma.qaSubBlock}}</div>
                    </div>
                    <div class="tag is-danger">
                        <div class="text-block-3">{{idioma.tagGratis}}</div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">{{idioma.dateHeadBlock}}<br></strong></div>
                        <div class="text-block-2">{{idioma.dateSubBlock}}</div>
                    </div>
                    <div class="tag is-danger">
                        <div class="text-block-3">{{idioma.tagGratis}}</div>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">NUBE DE PALABRAS <br></strong></div>
                        <div class="text-block-2">Preguntá y recibí todo tipo de respuestas </div>
                    </div>
                    <div class="tag is-info">
                        <div class="text-block-3">REGISTRO</div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="columns ">
            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">RATING<br></strong></div>
                        <div class="text-block-2">Obtené respuestas númericas.</div>
                    </div>
                    <div class="tag is-info">
                        <div class="text-block-3">REGISTRO</div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <a href="/sorteos">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">SORTEOS<br></strong></div>
                        <div class="text-block-2">Realizá sorteos para redes</div>
                    </div>
                    <div class="tag is-info">
                        <div class="text-block-3">REGISTRO</div>
                    </div>
                </div>
                </a>
            </div>
            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">QUIZZ<br></strong></div>
                        <div class="text-block-2">Evaluá conocimiento</div>
                    </div>
                    <div class="tag is-success">
                        <div class="text-block-3">PRO</div>
                    </div>
                </div>
            </div>

            <div class="column is-3">
                <div class="crear-producto">
                    <div class="div-block-2">
                        <div class="text-block"><strong class="bold-text">Trivia<br></strong></div>
                        <div class="text-block-2">Coming Soon
                        </div>
                    </div>
                    <div class="tag is-success">
                        <div class="text-block-3">PRO</div>
                    </div>
                </div>
            </div>
            
            

        </div>

        <div class="button-group">
            <a href="/dashboard" class="buttonN blue ">{{idioma.buttonHero}}</a>
            <a href="/dashboard" class="buttonN ">{{idioma.buttonSubHero}}</a>
        </div>

        <img src="{{ url_for('static', filename='img/portada2.png') }}"
            width="940" 
            alt="" class="image">

            <div class="div-block-14"><h3 class="heading-3">Nos usan los mejores</h3><div class="w-layout-grid grid-2"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b3e9785508bb3835515e7a_home-logo-facebook.svg" loading="lazy" alt="" class="image-4"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b3e987d63585722a12233d_home-logo-amazon.svg" loading="lazy" alt="" class="image-3"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b3e9938e7b7ae950e9922d_home-logo-linkedin.svg" loading="lazy" alt=""><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b3e99cef9192be59080443_home-logo-whatsapp.svg" loading="lazy" alt=""><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b3e9a5388e8b33fad8a14e_home-logo-mailchimp.svg" loading="lazy" alt=""></div></div>
    </div>
</section>

<section class="section-hero">
    <div class="container">
        <h2 class="section-title">Tus videollamadas al máximo!</h2>
        <p class="section-subtitle">Creamos una serie de herramientas virales para que hasta tu abuela sepa cómo
            acceder y responder</p>

        <div class="columns">
            <div class="column">
                <img src="{{ url_for('static', filename='img/portada3.png') }}"
                    width="452px"
                    alt="">
            </div>
            <div class="column" style="    padding-top: 79px;
            text-align: left;">
                <img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d5919aa5c02_4-icon-chrome.png"
                    width="37px" alt="" class="grey-icon">
                    <img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d4db8aa5c05_4-icon-fire.png"
                    width="37px" alt="" class="grey-icon">
                    <img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d8446aa5c0c_4-icon-ie.png"
                    width="37px" alt="" class="grey-icon">
                   
                   
                    <img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d71f0aa5c0e_4-icon-safari.png"
                    width="37px" alt="" class="grey-icon">
                <h3>Respuestas en tiempo real para presentaciones</h3>
                <p>Todas las respuestas a todos los tipos de preguntas, visibles al instante por cualquiera de tus
                    destinatarios. Ideal para que todos vean en vivo y directo desde tus videollamadas o redes
                    sociales.</p><img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d4088aa5c10_5-icon-apple.png"
                    width="37px" alt="" class="grey-icon"><img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d02c7aa5c11_6-icon-android.png"
                    width="37px" alt="" class="grey-icon"><img
                    src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d4894aa5c14_7-icon-microsoft.png"
                    width="37px" alt="" class="grey-icon">
                <h3>Integraciones de todo tipo</h3>
                <p>Con nuestra API e integraciones preparadas para las herramientas más utilizadas podrás hacer más
                    simple nuestro uso. </p>
            </div>

        </div>

    </div>
</section>

<section class="section-hero section-grey ">
    <div class="container">
        <h2 class="section-title">Flexibilidad y control en tus encuestas</h2>
        <p class="section-subtitle">Creá una cuenta para tener control a características más avanzadas.</p>
        <div class="columns">
            <div class="column">
                <div class="circle">
                    <div class="numberM">1</div><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d52ebaa5c01_8-layout1.png"
                        width="243px" alt="" class="frames">
                </div>
                <h3>Dashboard</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
            <div class="column">
                <div class="circle">
                    <div class="numberM">2</div><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d00ccaa5c00_8-layout2.png"
                        width="243px" alt="" class="frames">

                </div>
                <h3>opciones Avanzadas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
            <div class="column">
                <div class="circle">
                    <div class="numberM">3</div><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d1e59aa5bfe_8-layout3.png"
                        width="243px" alt="" class="frames">
                </div>
                <h3>Estadísticas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>

        </div>

    </div>
</section>

<section class="section-hero">
    <div class="container">
        <h2 class="section-title">Somos los mejores en...</h2>
        <div class="columns">
            <div class="column">
                <div class="icons"><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d6b93aa5c07_9-icon2-brush.png"
                        width="25" alt=""></div>
                <h3>Interfaz</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique. .</p>
            </div>
            <div class="column">
                <div class="icons"><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d9ae8aa5c08_9-icon2-chat.png"
                        width="25" alt=""></div>
                <h3>Seguridad</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor</p>
            </div>
            <div class="column">
                <div class="icons"><img
                        src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d4d93aa5c09_9-icon2-drops.png"
                        width="25" alt=""></div>
                <h3>Perfil</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>

        </div>


        <div class="columns">
            <div class="column">
                <div class="icons"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d7e45aa5c0a_9-icon2-eye.png" width="25" alt=""></div>
                <h3>Compartir</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique. .</p>
            </div>
            <div class="column">
                <div class="icons"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296daeccaa5c0b_9-icon2-phone.png" width="25" alt=""></div>
                <h3>Viralización</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor</p>
            </div>
            <div class="column">
                <div class="icons"><img src="https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60b13cec71296d716baa5c16_9-icon2-video.png" width="25" alt=""></div>
                <h3>Bots</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>

        </div>

        <div class="button-group">
            <a href="/crear" class="buttonN blue ">CREAR ENCUESTA</a>
            <a href="/dashboard" class="buttonN ">CARACTERÍSTICAS</a>
        </div>

    </div>
</section>

{% endblock %}

