{% extends 'base.html' %}
{% block title %}{{idioma.dashboardTitle}}{% endblock %}
{% block metas %}
<meta name="description" content="Crea encuestas rápidas en segundos no necesita registro">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@site">
<meta name="twitter:creator" content="@fastpoll">
<meta property="og:url" content="{{linkSite}}">
<meta property="og:title" content="Crear Encuesta - Encuestas Rápidas ">
<meta property="og:description" content="Crea encuestas rápidas en segundos no necesita registro">
<meta property="og:image" content="{{ url_for('static', filename='img/faviconwhite.png') }}">
<meta property="og:image:alt" content="Eventist banner">
<meta property="og:site_name" content="Eventist">
<link rel="canonical" href="{{linkSite}}encuesta">
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div id="app">
  <div id="sinEncuestas" style="display: none;">
    <p>{{idioma.notEvents}}</p>
  </div>
  <div id="loader">

  </div>

  <section class="section-hero" style="display: none;  min-height: 500px; padding: 5px;"  >
    <div class="container">
      <div class="div-block-5"><a href="/" class="link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{idioma.back}}</a>
      </div>
      <h1 class="headingM has-text-left">{{idioma.dashboardTitle}}</h1>
      <p class="hero-subhead has-text-left">{{idioma.dashboardSubtitle}}</p>

      <div class="columns p-2 ">
        <div class="column " >
          <div class="pollBlock cubreDiv">
            <div class="pollIcon">
              <i class="fa fa-bars faIconPoll" aria-hidden="true"></i>
            </div>
            <h3 class="pollNumber" v-text="cantEncuestas" ></h3>
            <p class="pollsText">{{idioma.dashboardStatisTitle1}}</p>
          </div>
        </div>
        <div class="column">
          <div class="pollBlock cubreDiv">
            <div class="pollIcon">
              <i class="fa fa-check faIconPoll" aria-hidden="true"></i>
            </div>
            <h3 class="pollNumber" v-text="cantVotos"  ></h3>
            <p class="pollsText">{{idioma.dashboardStatisTitle2}}</p>
          </div>
        </div>
        <div class="column">

        </div>

      </div>


{% if userR == 1 %}
<div class="cubreHerramientas">
  <div class="columns " style="    margin-top: 60px;">
    <div class="column is-3">
        <a href="/crear">
            <div class="crear-producto">
                <div class="div-block-2">
                    <div class="text-block"><strong class="bold-text">{{idioma.pollHeadBlock}}<br></strong></div>
                    <div class="text-block-2">{{idioma.pollSubBlock}}</div>
                </div>
                <div class="tag is-danger">
                    <div class="text-block-3">{{idioma.tagGratis}}</div>
                </div>
            </div>
        </a>
        
</div>

    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.qaHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.qaSubBlock}}</div>
            </div>
            <div class="tag is-danger">
                <div class="text-block-3">{{idioma.tagGratis}}</div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.dateHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.dateSubBlock}}</div>
            </div>
            <div class="tag is-danger">
                <div class="text-block-3">{{idioma.tagGratis}}</div>
            </div>
        </div>
    </div>

    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.cloudHeadBlock}} <br></strong></div>
                <div class="text-block-2">{{idioma.cloudSubBlock}}</div>
            </div>
            <div class="tag is-info">
                <div class="text-block-3">{{idioma.tagRegistro}}</div>
            </div>
        </div>
    </div>
    
</div>
<div class="columns ">
    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.rateHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.rateSubBlock}}</div>
            </div>
            <div class="tag is-info">
                <div class="text-block-3">{{idioma.tagRegistro}}</div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <a href="/sorteos">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.giveHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.giveSubBlock}}</div>
            </div>
            <div class="tag is-info">
                <div class="text-block-3">{{idioma.tagRegistro}}</div>
            </div>
        </div>
        </a>
    </div>
    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.quizzHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.quizzSubBlock}}</div>
            </div>
            <div class="tag is-success">
                <div class="text-block-3">{{idioma.tagPro}}</div>
            </div>
        </div>
    </div>

    <div class="column is-3">
        <div class="crear-producto">
            <div class="div-block-2">
                <div class="text-block"><strong class="bold-text">{{idioma.triviaHeadBlock}}<br></strong></div>
                <div class="text-block-2">{{idioma.triviaSubBlock}}
                </div>
            </div>
            <div class="tag is-success">
                <div class="text-block-3">{{idioma.tagPro}}</div>
            </div>
        </div>
    </div>
    
    

</div>
</div>
{% endif %}
      
      


      <h1 class="headingM has-text-left" style="    margin-bottom: 40px; margin-top: 40px;">{{idioma.dashboardTitle2}}</h1>
      <div v-for="(item, index) in misEncuestas" :key="index" >
       <a :href="'/p/'+item['codigo']+'+'" style="color: #222;">
        <div class="CubOption cubreDiv">
          <div class="columns">
            <div class="column is-flex is-justify-content-space-between">
              <div class="cubreIconandOption is-flex has-text-left">
                <span for="Opción " class="radio-button-label w-form-label" v-text="item['pregunta']" ></span>
              </div>
              <div class="text-block-12" v-text="item['cantVoto']+' {{idioma.votes}}'" ></div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-flex is-justify-content-space-between">
              <div class="cubreResult is-flex is-justify-content-space-between">
                <span v-text="item['fecha']"></span>
                <div>
                  <span><a :href="'/p/'+item['codigo']+'/edit'" ><i class="fa fa-pencil-square" style="font-size: 20px;" aria-hidden="true"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
       </a>
       
        
      </div>

    </div>
  </section>
</div>

{% endblock %}

{% block vuejs %}
<script src="{{ url_for('static', filename='js/get_panel.js') }}"></script>
{% endblock %}